@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


html {
  font-family: 'Source Sans Pro';
  background: #282828;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  flex: 1;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#start_section {
  display: flex;
  align-items: center;
  /*min-width: 70vw;*/
  border: #ffffff;
  height: 100vh;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.challenge {
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 0.5em 0.5em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 100;
  border-radius: 20px;
  margin: 2%;
  flex-wrap: nowrap;
  flex-direction: column;
}

.challenge .challengepar {
  padding: inherit;
}

.noclick {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
}


.inputfield {
  font-size: 2em;
  text-align: center;
  width: 90%;
  height: 60px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin: 2%;
}

.button {
  font-size: 2em;
  text-align: center;
  min-width: max-content;
  /* width: 90%;
  height: 100px; */
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin: 2%;
}

.challenge .button {
  font-size: 0.8em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: rgb(255, 0, 0);
  cursor: pointer;
  bottom: 15%;
  z-index: 100;
  opacity: 1;
}

.playername {
  font-size: 2em;
  text-align: center;
  width: 90%;
  min-width: fit-content;
  height: 60px;
  padding: 0.5em 0.5em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin: 2%;
}

.circle {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 7px solid #282828;
  box-shadow: 0px 0px 10px 1px #3e3e3e, inset 0px 0px 14px 17px rgb(0 0 0 / 25%);
  border-radius: 50%;
  height: auto;
  width: auto;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
}

img {
  /* Initial value for rotate is needed for transition to work */
  transform:rotate(0);  
  transition:all 6s;
}

.spinner {
  width: 100%;
  justify-content: center;
  height: auto;
  transform:rotate(-90deg);  
  transition:all 4s;
}

